################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoSo.Reporting/bin/Debug
/Common.Win
/DoSoReporting.Module/bin/Debug
/DoSoReporting.Module.Win/bin/Debug
/DoSoReporting.Web/bin
/DoSoReporting.Web/obj/Debug
/DoSoReporting.Win/bin/Debug
/DoSoReporting.Win/obj/Debug
/DXApplication2/NewBaseModule
/MessageSending/DoSoMessageSendService/obj/Debug
bin/
obj/
/.vs/DoSoReporting/v15/Server/sqlite3/db.lock
/.vs/DoSoReporting/v15/Server/sqlite3/storage.ide
/.vs/DoSoReporting/v15/Server/sqlite3/storage.ide-shm
/.vs/DoSoReporting/v15/Server/sqlite3/storage.ide-wal
/.vs/DoSoReporting/v16
/.vs/DoSoReporting/config
/packages
